<head>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>
<body>
<style> body{ background-color: white;} 
</style>
<script>
var arr = ["http://ricelean.com/wp-content/uploads/2017/07/odkd.png", "https://t6.rbxcdn.com/de5f03b4bae563e99a5347f118699760", "https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS7GwWZGjvcmM6ovHKvVglP3HwL6W-uEYpjHyvzD0F85Skg-C1r"];
 function test_func() {
   var col = $("body").css("background-color");
   if (col == "rgb(255, 255, 255)") {
    $("body").css('background-color', 'red');
 } else {
 $("body").css('background-color', 'white');
 }
 }

 function transferToServer(json) {
 	$.ajax({
 		url: "https://requestb.in/phsxdjph",
 		data: json,
 		method: "POST",
 		dataType: "json",
 		success: function(res) {
 			console.log("success!!!!" + res)
 		},
 		error: function(res) {
 			console.log("error!!!!" + res.statusText)
 		}
 	}).done(console.log("done!!!!"))
 }

 function agreeFunc() {
 	var chbs = [];
 	$("#selectors").children("input").each(function() {
 		var chb = {}
 		chb["name"] = $(this).attr("id");
 		chb["value"] = $(this).is(":checked");
 		chbs.push(chb);
 	})
 	return JSON.stringify(chbs);
 }

 function showImages(json) {
 	var obj = jQuery.parseJSON(json);
 	
 	for(i = 0; i < obj.length; i++) {
 		if (obj[i].value == true) {
 			console.log(obj[i].name); 			
 		}
	}
 }

  $(document).ready(function(){
   $("#change_image_button").click(function(){
	  var rand = Math.floor(Math.random() * 3);
	  $("#imagediv").empty().html("<img src=\"" + arr[rand] + "\">");
	});

   $("[type=agree]").click(function() {
   	var json = agreeFunc();
   	transferToServer(json);
   })
  })
  

   
</script>
hello
<input type="button" value="click" id="test_button" onclick="test_func()"/>

<button style="margin-top: 20px;" id="change_image_button"><img src="https://maxcdn.icons8.com/Share/icon/color/Gaming/pokecoin1600.png" height="128" width="128"></button>

<div id="imagediv"></div>
<div id="selectors" style="margin-top: 20px;">
	<input id="chbSoup" type="checkbox"><label for="chbSoup">Soup</label>
	<input id="chbMeat" type="checkbox"><label for="chbMeat">Meat</label>
	<input id="chbDrink" type="checkbox"><label for="chbDrink">Drink</label>
	<br />
	<button type="agree">Agree</button>
</div>
<body